body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Courier New', Courier, monospace;
   margin: 0px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: 900;
  color: aliceblue;
  
}
.logo img{
    width: 25px;
    height: 25px;    
}

.header{
 display: flex;
 flex-direction: row; 
 justify-content: space-between;
 background-color: rgb(68, 66, 111);  
 align-items: center;
 padding: 7px 19px;
}
ul{
    list-style: none;
    display: flex;
    gap: 13px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.hero{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
     background-color: rgb(127, 97, 190);  
    gap: 40px;
    color: aliceblue;
}
h1{
    margin: 0px;
    padding: 0px;

}
.hero img{
  width: 450px;
  height: 200px;    
  border-radius: 10px;
}
.hero-button{
    padding: 8px 15px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
    font-weight: 600;
    background-color:cornflowerblue;
}

.content{
    display:flex;
    flex-direction: column;
    text-align: center; 
}

.content{
    display:flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap; 
    gap:30px;
    padding: 20px;
    background-color: blueviolet;
}

.cat img, .dog img, .parrot img, .owl img{
  width:200px;
  height:200px;
  margin-bottom: 10px;
  border-radius: 30%;
  
} 
.title{
    font-size: 30px;
    font-weight: 700;
    color: azure;
}
.Animal{
 display: flex;
flex-direction: row;
gap: 20px; 
}
.Animal .text{
    text-align: start;
    color: antiquewhite;
}
.message{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 30px;
color: antiquewhite;
background-color: rgb(186, 184, 184);
padding: 40px;

}
.message-content, .name{
    padding: 20px;
    width: 600px;
    margin: 0px;
}
.name{
    font-size: 25px;
    align-self: flex-end;
}
.action{
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    margin: 40px auto;
    width: 900px;
    padding: 10px;
    background-color: rgb(17, 45, 94);
    border-radius: 20px; 
    color: antiquewhite;
}
.main{
  font-size: 27px;
  margin: 0px;
}
.action-button{
    padding: 7px 18px;
    background-color: rgb(17, 45, 94);
    border-radius: 3px;
    font-size: 18px; 
    border-color:white ;      
      color: antiquewhite;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(112, 112, 182);
        color: antiquewhite;
}










