body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: 900;
  color: aliceblue;
  font-family:'Courier New', Courier, monospace;
}
.logo img{
    width: 25px;
    height: 25px;    
}

.header{
 display: flex;
 flex-direction: row; 
 justify-content: space-between;
 background-color: rgb(68, 66, 111);  
 align-items: center;
 padding: 7px 19px;
}
ul{
    list-style: none;
    display: flex;
    gap: 13px;
}
a{
    text-decoration: none;
    color: aliceblue;
}




